{% extends 'main/layout.html' %}

{% block content %}
<h2>{{ title }}</h2>

<h3>Мои навыки в IT:</h3>
<ul>
    <li>Python программирование</li>
    <li>Веб-разработка с Django</li>
    <li>Работа с Linux</li>
    <li>Основы HTML/CSS</li>
    <li>Работа с Git</li>
</ul>

<h3>Что я изучаю:</h3>
<ul>
    <li>Фреймворк Django</li>
    <li>Базы данных</li>
    <li>Веб-сокеты</li>
    <li>Архитектуру веб-приложений</li>
</ul>

<h3>Мои цели:</h3>
<p>Стать профессиональным backend-разработчиком и создавать качественные веб-приложения.</p>
{% endblock %}

